* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imagenPrincipal {
  background-image: url(/img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}
.imagenPrincipal h1, .imagenPrincipal p {
  color: white;
}

.color-fondo {
  border: black solid 5px;
  background: -webkit-gradient(linear, left top, right top, from(#7b0030), to(rgba(163, 79, 0, 0.9058823529)));
  background: linear-gradient(to right, #7b0030, rgba(163, 79, 0, 0.9058823529));
}
.color-fondo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.color-fondo .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: black solid 5px;
}
@media (min-width: 480px) {
  .color-fondo .iconos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.color-fondo ul p {
  border: black solid 5px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: black;
}
footer ul {
  list-style: none;
}
footer ul li {
  color: white;
}