* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header i {
  font-size: 25px;
}

.imagenPrincipal {
  background-image: url(/img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.imagenPrincipal .buscador {
  border: white solid 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: white;
}
.imagenPrincipal .buscador h1 {
  font-size: 50px;
  padding: 15px;
  margin-left: 0;
}
.imagenPrincipal .buscador input {
  padding: 10px;
  width: 15%;
}

.color-fondo {
  background: -webkit-gradient(linear, left top, right top, from(#7b0030), to(rgba(163, 79, 0, 0.9058823529)));
  background: linear-gradient(to right, #7b0030, rgba(163, 79, 0, 0.9058823529));
}
.color-fondo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.color-fondo .iconos {
  border: black solid 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}
@media (min-width: 480px) {
  .color-fondo .iconos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.zonaArticulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: blue;
}
.zonaArticulos h2 {
  text-align: center;
}
.zonaArticulos .articulos {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.zonaArticulos .articulos article {
  -ms-flex-preferred-size: calc(50% - 0.5rem);
      flex-basis: calc(50% - 0.5rem);
}
@media (min-width: 480px) {
  .zonaArticulos .articulos article {
    -ms-flex-preferred-size: calc(33.3333333333% - 0.6666666667rem);
        flex-basis: calc(33.3333333333% - 0.6666666667rem);
  }
}
@media (min-width: 768px) {
  .zonaArticulos .articulos article {
    -ms-flex-preferred-size: calc(25% - 0.75rem);
        flex-basis: calc(25% - 0.75rem);
  }
}
.zonaArticulos .articulos article img {
  width: 100%;
}

footer {
  background-color: black;
}
footer ul {
  list-style: none;
}
footer ul li {
  color: white;
}