/*ZONA DEL HEADER*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
header i {
  font-size: 25px;
  position: relative;
  display: block;
}
header i .submenu {
  display: none;
  padding: 1rem;
}
header i .submenu #contenidoSubmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
header i .submenu #contenidoSubmenu li {
  font-size: 15px;
  margin: 1rem;
}
header i .submenu #contenidoSubmenu p {
  font-size: 15px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 1rem;
}
header i .submenu button {
  color: white;
  background-color: #7b0030;
  border: none;
  padding: 1rem;
}
header i:hover .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  background-color: white;
}

.imagenPrincipal {
  background-image: url(/img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.imagenPrincipal .buscador {
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .imagenPrincipal .buscador {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.imagenPrincipal .buscador h1 {
  font-size: 50px;
}
.imagenPrincipal .buscador p {
  margin-top: 3%;
  margin-bottom: 1%;
}
.imagenPrincipal .buscador .lupa {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}
.imagenPrincipal .buscador .lupa input {
  padding: 10px;
  border: none;
  outline: none;
}
.imagenPrincipal .buscador .lupa i {
  color: red;
}

.zonaIconos {
  background: -webkit-gradient(linear, left top, right top, from(#7b0030), to(rgba(163, 79, 0, 0.9058823529)));
  background: linear-gradient(to right, #7b0030, rgba(163, 79, 0, 0.9058823529));
}
.zonaIconos .capaIconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .zonaIconos .capaIconos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.zonaIconos .capaIconos .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.zonaIconos .capaIconos .iconos p {
  text-align: center;
  color: white;
}

.zonaArticulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.zonaArticulos h2 {
  text-align: center;
  font-size: 30px;
}
.zonaArticulos .articulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.zonaArticulos .articulos article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: gray solid 1px;
  -ms-flex-preferred-size: calc(50% - 0.5rem);
      flex-basis: calc(50% - 0.5rem);
}
@media (min-width: 480px) {
  .zonaArticulos .articulos article {
    -ms-flex-preferred-size: calc(33.3333333333% - 0.6666666667rem);
        flex-basis: calc(33.3333333333% - 0.6666666667rem);
  }
}
@media (min-width: 768px) {
  .zonaArticulos .articulos article {
    -ms-flex-preferred-size: calc(25% - 0.75rem);
        flex-basis: calc(25% - 0.75rem);
  }
}
.zonaArticulos .articulos article img {
  width: 100%;
}
.zonaArticulos .articulos article .textoArticulos {
  padding: 0.5rem;
}
.zonaArticulos .articulos article .textoArticulos h3 {
  font-size: 16px;
}
.zonaArticulos .articulos article .textoArticulos i {
  color: #F5D627;
}
@media (min-width: 280px) {
  .zonaArticulos .articulos article .textoArticulos i {
    font-size: 10px;
  }
}
.zonaArticulos .articulos article .precios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}
.zonaArticulos .articulos article button {
  color: white;
  background-color: #27DAF5;
  border: none;
  padding: 0.5rem;
}

footer {
  background-color: black;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .container ul {
  list-style: none;
  padding: 2%;
  width: 100%;
}
@media (min-width: 768px) {
  footer .container ul {
    width: 50%;
  }
}
footer .container ul li {
  color: white;
}