//Formatos Disponibles

@mixin movil{

    @media (min-width:$formatoMovil) {
        @content;
    }

}
@mixin tablet{

    @media (min-width:$formatoTablet) {
        @content;
    }


}

@mixin web{

    @media (min-width:$formatoWeb){

        @content;
    }

    
}


/*ZONA DEL HEADER*/
@mixin imagenFondoBuscador{

    background-image:$backgroundBuscador;
    background-size:cover ;
    background-position:center;
    height: 400px;
}




