//Header : 

@mixin buscador{


    background-image:$backgroundBuscador;
    background-size:cover ;
    background-position:center;
    height: 400px;
}

@mixin tablet{

    @media (min-width:$formatoTablet) {
        @content;
    }


}

@mixin web{

    @media (min-width:$formatoWeb){

        @content;
    }

    
}

