//Colores de los textos 


//Colores de la web


//Formatos de la pagina

$formatoTablet:480px;
$formatoMovil: 768px;


//Variables genericas y fondos:
$backgroundBuscador: url(/img/hero.jpg);
$backgroundBody: white;
$backgroundFooter: black;