//Colores de los textos 


//Colores de la web
$color_Blanco:white;
$colorEstrellas: #F5D627;
$colorButton:#27DAF5;
$color_degradado:linear-gradient(to right, #7b0030, #a34f00e7);
$color_rojo: red;

//Fuente del texto de la web:
$font-main: 'Arial', sans-serif;

//Formatos de la pagina
$formatoMovil:280px;
$formatoTablet:480px;
$formatoWeb: 768px;


//Variables genericas y fondos:
$backgroundBuscador: url(/img/hero.jpg);
$backgroundBody: white;
$backgroundFooter: black;

//Calculo reparticion de los articulos
$distribucionMovil:calc(100%/2 - 1rem/2);
$distribucionTablet: calc(100%/3 - 2rem/3);
$distribucionWeb: calc(100%/4 - 3rem/4);





