//Colores de los textos 


//Colores de la web
$color_Blanco_Texto:white;
$color_degradado:linear-gradient(to right, #7b0030, #a34f00e7);

//Fuente del texto de la web:
$font-main: 'Arial', sans-serif;

//Formatos de la pagina

$formatoTablet:480px;
$formatoWeb: 768px;


//Variables genericas y fondos:
$backgroundBuscador: url(/img/hero.jpg);
$backgroundBody: white;
$backgroundFooter: black;

//Calculo reparticion de los articulos

$distribucionTablet: calc(100%/3);
$distribucionWeb: calc(100%/2);
