@import 'variables';
@import 'mixin.scss';

*{

    margin: 0;
    padding: 0;
   
}
body{

    background-color: $backgroundBody;
    font-family: $font-main;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
header{

   
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;


    //Aqui generamos el submenu del carrito

    i{
        //Dise単o del icono del carrito del header para aplicar el hoover
        font-size: 25px;
        position: relative;
        display: block;
       
            .submenu{
                //Aplicamos el none para que no aparezca hasta que pasemos el raton
                display: none;
                //Se permite aplicar padding para darle un ancho alrededor del cuadro del submenu
                padding: 1rem;


                #contenidoSubmenu{
                    display: flex;
                   
                    list-style: none;
                    
                   li{
                    font-size: 15px;
                    margin: 1rem;
                   }

                    p{
                        font-size: 15px;
                        align-self: center;
                        margin: 1rem;
                    }
                }

                button{

                    color: $color_Blanco_Texto;
                    background-color:#7b0030;
                    border: none;
                    padding: 1rem;    

                }
                
            }

            //Lo dejamos en block para que cuando pasemos por encima aparezca:
                &:hover .submenu{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 0;
                    background-color: white;
                                }
        
    }
    
    

}

.imagenPrincipal{

    @include imagenFondoBuscador();
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
    .buscador{

        //color texto 
         color: $color_Blanco_Texto;

         //Cuando sea movil o tablet el contenido se centra
            flex-direction: column;
            
        
        @include web{
            
            flex-grow: 1;
        }
        


        //Le doy el tama単o al h1
        h1{
            font-size: 50px;
            
        }
        p{
            margin-top: 3%;
            margin-bottom: 1%;
        }
       
       .lupa{

            background: white;
            
            
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: black;
           

                input{
                       
                    padding: 10px; //ancho de la barra de busqueda
                    border:none;
                    outline: none;//desaparezca el borde de la barra de busqueda
                    
                }
                i{
                    color: red;
                   
                }

       }
        
    }
}

.zonaIconos{
    //Degradado del fondo
    background: $color_degradado;

        .capaIconos{
            display: flex;
            flex-direction: column;

            //Cuando pasa a Web
            @include web{
            flex-direction: row;
            justify-content: space-between;

            }

                .iconos{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    p{
                        text-align: center;
                        color: $color_Blanco_Texto;
                    }

                   
                }

        }
        
    
}

.zonaArticulos{

    display:flex;
    flex-direction: column;
    
        h2{
            text-align: center;
            font-size: 30px;
            
        }

        .articulos{

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

                article{
                    //Aplico etiquetas de padre en flexbox
                    display: flex;
                    flex-direction: column;
                    

                    //Le aplico padding para darle un espacio alrededor de cada articulo
                    
                    //le aplico un borde a cada articulo
                    border: gray solid 1px;


                    //Movil
                    flex-basis: $distribucionMovil;


                    //Tablet
                    @include tablet{

                        flex-basis:$distribucionTablet;

                    }


                    //Web
                    @include web{
                        flex-basis:$distribucionWeb;
                    }

                    //Hay que darle a las imagenes el 100% 
                    img{
                        width: 100%;
                    }

                    .textoArticulos{

                        padding: 0.5rem;

                        h3{
                            font-size: 16px;

                        }
                        //Dise単o iconos
                            i{
                                color: $colorEstrellas;

                                @include movil{
                                    font-size: 10px;
                                }
                                
                            }
                    }

                //Para poder colocar el precio y el precio en oferta uno al lado del otro
                .precios{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 1rem;
                    
                
                
                }

                    button{
                    
                        //Dise単o
                        color: $color_Blanco_Texto;
                        background-color:$colorButton;
                        border: none;
                        padding: 0.5rem;
                        
                    }

                }
        }

}




footer{

    background-color: $backgroundFooter;

    .container{

       display: flex;

        ul{
            list-style: none;
            padding: 2%;
            width: 100%;

            @include web{
                width: 50%;
            }
            
        }

        ul li{
            color: $color_Blanco_Texto;
        }
        
    }

        
}

