@import 'variables';
@import 'mixin.scss';

*{

    margin: 0;
    padding: 0;
   
}
body{

    background-color: $backgroundBody;
    font-family: $font-main;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
header{

   
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    //Aqui generamos el submenu del carrito

    i{
        @include configuracionCarrito();

            .submenu{
              
                @include posicionamientoSubmenu();
                


                #contenidoSubmenu{
                    display: flex;
                    flex-direction: column;
                    
                  
                    

                    img{
                        width: 40%;
                       
                    }

                    p{
                        font-size: 15px;
                    }
                }

                button{

                    @include configuracionButtonCarrito();

                }
                
            }

            //Lo dejamos en block para que cuando pasemos por encima aparezca:
                &:hover .submenu{
                    display: block;
                }
        
    }
    
    

}

.imagenPrincipal{

    @include imagenFondoBuscador();
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
    .buscador{

        //color texto 
         color: $color_Blanco_Texto;

         //Cuando sea movil o tablet el contenido se centra
            flex-direction: column;
            justify-content: center;
         


        @include web{
            
            flex-grow: 1;
        }
        


        //Le doy el tamaño al h1
        h1{
            font-size: 50px;
            
        }
        p{
            margin-top: 3%;
            margin-bottom: 1%;
        }
       
       .lupa{

            background: white;
            width: 45%;
           
            
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
           

                input{
                       
                    padding: 10px; //ancho de la barra de busqueda
                    border:none;
                    outline: none;//desaparezca el borde de la barra de busqueda
                    
                }
                i{
                    color: red;
                   
                }

       }
        
    }
}

.zonaIconos{
    //Degradado del fondo
    background: $color_degradado;

        .capaIconos{
            display: flex;
            flex-direction: column;

            //Cuando pasa a Web
            @include web{
            flex-direction: row;
            justify-content: space-between;

            }

                .iconos{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    p{
                        text-align: center;
                       
                    }

                   
                }

        }
        
    
}

.zonaArticulos{

    display:flex;
    flex-direction: column;
    
        h2{
            text-align: center;
            font-size: 30px;
            
        }

        .articulos{

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            article{

                //le aplico un borde a cada articulo
                border: gray solid 1px;
                //Movil
                flex-basis: $distribucionMovil;
                //Tablet
                @include tablet{

                    flex-basis:$distribucionTablet;

                }


                //Web
                @include web{
                    flex-basis:$distribucionWeb;
                }

                //Hay que darle a las imagenes el 100% 
                img{
                    width: 100%;
                }
                i{
                    color: $colorEstrellas;
                   
                }
              //Para poder colocar el precio y el precio en oferta uno al lado del otro
              .precios{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
               
               
              }

                button{
                
                    @include formatoButtonArticulos();
                    
                }

            }
        }

}




footer{

    background-color: $backgroundFooter;

    //Le aplico propiedades de PAdre
    
    

    .container{

       display: flex;
    
       

        ul{
            list-style: none;
            padding: 2%;
            width: 100%;

            @include web{
                width: 50%;
            }
            
            

        }

        ul li{
            color: $color_Blanco_Texto;
        }
        

       

    }

        
}

