@import 'variables';
@import 'mixin.scss';

*{

    margin: 0;
    padding: 0;
   
}
body{

    background-color: $backgroundBody;
    font-family: $font-main;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    i{
        font-size: 25px;
        
    }
    

}

.imagenPrincipal{

    @include buscador();
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
    .buscador{
        border: white solid 5px;
        
        flex-direction: column;
        flex-grow: 1;
       
       
        color: $color_Blanco_Texto;


        //Le doy el tamaño al h1
        h1{
            font-size: 50px;
            padding: 15px;
            margin-left: 0;
        }
       
        form{
            
           
        }
        input{
            padding: 10px;
            width: 15%;
        } 
    }
}
//Padre
.color-fondo{
    
    
    background: $color_degradado;

    div{
        display :flex;
        
        
    }

    //Hijo
    .iconos{

        border: black solid 5px;

        //Movil
        display:flex;
        flex-direction: column;
        justify-content: space-around;

        //Color de los iconos y el texto
        color:$color_Blanco_Texto;

        @include tablet{
            flex-direction: row;
   
        }

        
    }


}

.zonaArticulos{
    display: flex;
    flex-direction: column;
    background-color: blue;
    h2{
       
        text-align: center;
    }


    //Propiedades Padre

   

    //Propiedades Hijo
    .articulos{
        background-color: red;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;   
        justify-content: space-between; 


        article{

            flex-basis: calc(100%/2 - 1rem/2);
            //Primero le doy las propiedades de hijo
            @include tablet{
            
            flex-basis: calc(100%/3 - 2rem/3);

            }

            @include web{
            
             flex-basis: calc(100%/4 - 3rem/4);
            }
            img {
                width: 100%;
            }

            //Como "Padre de los demas elementos"
          
            }

        
        
        }


    }



footer{

    background-color: $backgroundFooter;

        ul{
            list-style: none;

        }

        ul li{
            color: $color_Blanco_Texto;
        }
}

