@import 'variables';
@import 'mixin.scss';

*{

    margin: 0;
    padding: 0;
   
}
body{

    background-color: black;

}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.imagenPrincipal{

    @include buscador();
}

footer{

    background-color: $backgroundFooter;
}

