@import 'variables';
@import 'mixin.scss';

*{

    margin: 0;
    padding: 0;
   
}
body{

    background-color: $backgroundBody;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
header{
display:flex;
flex-direction: row;
justify-content: space-around;

}

.imagenPrincipal{

    @include buscador();

    h1,p{
        color: $color_Blanco_Texto;

    }
    

   
}

.color-fondo{

    background: $color_degradado;

    ul p{
        color:$color_Blanco_Texto;
    }



}

footer{

    background-color: $backgroundFooter;


        ul{
            list-style: none;

        }

        ul li{
            color: $color_Blanco_Texto;
        }
}

