@import 'variables';
@import 'mixin.scss';

*{

    margin: 0;
    padding: 0;
   
}
body{

    background-color: $backgroundBody;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
header{
display:flex;
flex-direction: row;
justify-content: space-around;

}

.imagenPrincipal{

    @include buscador();

    h1,p{
        color: $color_Blanco_Texto;

    }
    

   
}
//Padre
.color-fondo{
    border: black solid 5px;
    
    background: $color_degradado;

    div{
        display :flex;
        max-width: 200px;
    }

    //Hijo
    .iconos{
        //Movil
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    
        border: black solid 5px;

        @include tablet{
            flex-direction: row;
            justify-content: left;
            

        }
        
        
    }


    ul p{
        color:$color_Blanco_Texto;
    }



}



footer{

    background-color: $backgroundFooter;


        ul{
            list-style: none;

        }

        ul li{
            color: $color_Blanco_Texto;
        }
}

