@import 'variables';
@import 'mixin.scss';

*{

    margin: 0;
    padding: 0;
   
}
body{

    background-color: $backgroundBody;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.imagenPrincipal{

    @include buscador();

    .container{
        border: white solid 5px;
        display: flex;
        flex-direction: column;
        
       
       
    }

    h1,p{
        color: $color_Blanco_Texto;
        justify-content: center;

    }
    

   
}
//Padre
.color-fondo{
    
    
    background: $color_degradado;

    div{
        display :flex;
        
        
    }

    //Hijo
    .iconos{

        border: black solid 5px;

        //Movil
        display:flex;
        flex-direction: column;
        justify-content: space-around;

        //Color de los iconos y el texto
        color:$color_Blanco_Texto;

        @include tablet{
            flex-direction: row;
   
        }

       
        
        
    }


   



}

.articulos{

    
    h2{
       
        text-align: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;//Le decimos al container que si sobrepasa
                        //Su ancho lo pasa a la siguiente linea
        
        border: red solid 2px;

        @include tablet{

            flex-direction: row;
            flex-basis: $distribucionTablet;

        }

        @include web{
            
            flex-basis: $distribucionWeb;
        }
    }


}



footer{

    background-color: $backgroundFooter;

        ul{
            list-style: none;

        }

        ul li{
            color: $color_Blanco_Texto;
        }
}

